/* 508170222 Nick Chen, 508170301 Matt Hsiao */
@charset "UTF-8";

body {
  background-color: lightblue;
}

#hello {
	color: white;
	position: absolute;
	left: 70px;
	font-size: 300px;
}

#profile {
	position: absolute;
	left: 120px;
	top: 400px;
}

#your {
	font-size:200px;
	position: absolute;
	left: -40px;
	top: -90px;
}

#accountNumber {
	width: 100px;
	position: absolute;
	left: -20px;
	top: 100px;
	font-size: 70px;
}

#is {
	position: absolute;
	left: 240px;
	top: 100px;
	font-size: 150px;
}

#account {
	color: white;
	position: absolute;
	left: 450px;
	top: -100px;
	font-size: 350px;
}

#deposit {
	position: absolute;
	left: -50%;
	top: 800px;
	width: 500px;
}

#depositText {
	position: absolute;
	left: 1020px;
	top: -60px;
	font-size: 50px;
}

#balanceSection {
	position: absolute;
	left:50%;
	top:350px;
}

#yourbalance {
	font-size: 50px;
}

#balance {
	position: absolute;
	left: 1200px;
	top: 325px;
	font-size: 80px;
	color: white;
}

#transfer {
	position: absolute;
	left: 50%;
	top:450px;
}

#transferText {
	font-size: 50px;
}

#details {
	position: absolute;
	left: 50%;
	top: 600px;
}

#detailsText {
	font-size: 50px;
}
#logout {
	position: fixed;
	right: 0;
	bottom: 0;	
}

#logoutText {
	font-size: 50px;
}